@tailwind base;
@tailwind components;
@tailwind utilities;


.card__img--incorrect {
  filter: brightness(0); 
  scale: 1.5;
}

.card__img--correct {
  scale: 1.5;
}

.loading-screen-reset{
  all: unset;
}

.placeholder-white::placeholder {
  color: white; /* Set the placeholder text color to white */
}

html, body {
  height: 100%;
  background-image: url('/images/Background_image2.jpg'); /* Adjust the path as needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Add any other background properties you need */
}